@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{box-sizing: border-box;}

body{
  background: radial-gradient(circle, rgba(244,242,221,1) 0%, rgba(230,227,218,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0, 6%);
}

.wrap{
  background: #fff;
  padding: 65px 60px;
  border-radius: 13px;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.search{
  padding: 15px;
  font-family: 'Poppins';
  font-size: 26px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  position: relative;
}

.search i{
  position: absolute;
  transform: translate(23%,-30%);
  color: #566d70;
}

.search input{
  font-size: 19px;
  border: none;
  border-bottom: 1px solid lightgray;
  background: transparent;
  width: 100%;
  transition: 0.3s;
  color: #485f62;
  padding: 0 15px 15px 50px;
}

.search input:focus{outline: none; border-bottom: 1px solid #8b29cf;}

.boxes{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 15px;
}

.box{
  flex: 30%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins';
  padding: 35px 0px;
  border-radius: 5px;
  color: #3f585c;
  position: relative;
  cursor: pointer;
  transition: 0.3s ease-out;
}

.box i{font-size: 30px;}

.box::before{
  content: "";
  width: 70%;
  height: 8px;
  border-radius: 0 0 8px 8px;
  position: absolute;
  top: 0; left: 0; right: 0;
  margin: auto;
}

.box{border: 1px solid var(--theme);}
.box::before{background: var(--theme);}
.box:hover{background: var(--theme); color: white;}
